@charset "utf-8";

h1{ margin-bottom:20px; }
.demo_wrap{
    margin:5%;
}
.demo_btns button{
    padding:5px;
    border:1px solid #333;
    border-radius:5px;
    box-sizing:border-box;
}
.demo_btns button:hover{
    background-color:#666;
    color:#fff;
}