@charset "utf-8";
/**
 * 리틀팍스영어 녹음기 HTML(PC | Mobile)
 * @author AhnDoae(2019.09.11)
 * @support PC (Chrome | FireFox | Edge | Safari | Opera)
 * @support Mobile (iOS | Android)
 * @media (max-width 359px | min-height 480px | min-height 649px)
 *
**/

/* Common CSS */
html{height:100%;}
body{height:100%; letter-spacing:-1px;}
#recorderPopup{min-width:320px; height:100%; overflow:hidden;}
.rec_popup_wrap .inner{margin:0 auto; width:360px;}
.rec_popup_wrap .popup_h1{padding-left:18px; height:40px; line-height:40px; color:#fff; font-size:17px; font-weight:bold; background:#3094e0;}
/*--// Common CSS */


/* .rec_guide_wrap : 도움말 레이어팝업 */
.rec_guide_wrap{padding:0 18px; box-sizing:border-box;}
.rec_guide_wrap:after{content:''; display:block; float:none; clear:both;}
.rec_guide_wrap > p{float:left; margin-top:20px; font-size:14px;;}
.rec_guide_wrap .btn_guide{float:right; margin-top:14px; width:29px; height:29px; background:url(../img/btn_guide.png); background-size:contain; cursor:pointer; outline:none;}
.rec_guide_popup{display:none; position:fixed; top:0; bottom:0; left:0; right:0; min-width:320px;/*width:100%; height:100%;*/ background: rgba(0,0,0,.7); z-index:2; /*overflow-y:auto;*/}
.rec_guide_popup.on{display:block;}
.rec_guide_inner{display:block; position:absolute; top:50%; left:50%; width:100%; transform:translate(-50%,-50%); text-align:center; }
.rec_guide_popup ul{display:inline-block; padding:29px 20px 0;}
.rec_guide_popup li{margin-bottom:20px; padding-left:96px; min-height:47px; text-align:left; background-repeat:no-repeat; background-position:16px center; background-size:47px;}
.rec_guide_popup li.guide_play{background-image:url(../img/ico_play.png);}
.rec_guide_popup li.guide_timer{background-image:url(../img/ico_mic.png);}
.rec_guide_popup li.guide_pause{background-image:url(../img/ico_pause.png);}
.rec_guide_popup li.guide_stop{margin-bottom:24px; background-image:url(../img/ico_stop.png);}
.rec_guide_popup li.guide_again{background-image:url(../img/ico_again.png);}
.rec_guide_popup li.guide_save{background-image:url(../img/ico_save.png);}
.rec_guide_popup li.guide_playpause{background-image:url(../img/ico_playpause.png); background-position:0 center; background-size:77px;}
.rec_guide_popup li.guide_progress{background-image:url(../img/ico_progress.png); background-position:0 center; background-size:77px;}
.rec_guide_popup strong{color:#86c7f3; font-size:14px; font-weight:bold;}
.rec_guide_popup p{color:#fff; font-size:13px;}
.rec_guide_wrap .guide_close{position:absolute; top:10px; right:10px; cursor:pointer; z-index:3;}
.rec_guide_wrap .guide_close img{width:21px; height:auto;}
/*--// .rec_guide_wrap : 도움말 레이어팝업 */


/* .rec_popup_content : 녹음/재생 컨텐츠 컨테이너 */
.rec_popup_content{position:relative; height:calc(100% - 111px); min-height:400px;}/* 111px -> popup_title + rec_guide_wrap + footer */
.recording, .playing{padding-bottom:30px; height:100%;}
/* .recording / .playing */
.playing{display:none;}
.recording_box{ position:absolute; top:50%; left:50%; transform: translate(-50%, -70%); -webkit-transform: translate(-50%, -70%);}
.recording_box .timer{display:block; margin-bottom:10%; color:#b0b7bf; font-size:40px; line-height:1; text-align:center;}
.recording .info{position:absolute; bottom:120px; width:100%; font-size:18px; text-align:center; color:#333;}

/* pie */
.pie_bg{padding:33px;}
.pie_wrap {position:relative; display:inline-block; width:178px; height:178px; line-height:1em; font-size:178px; vertical-align:middle;}
.pie_wrap .pie {position:absolute; left:0; top:0; width:100%; height:100%;}
.pie_pointer {display:none; position:absolute; top:0; left:0; width:100%; height:100%; border-radius:50%; z-index:10;}
.pie_pointer span{ position:relative; display:block; margin:0 auto; width:1px; height:50%; }
.pie_pointer span:before{ content:''; position:absolute; top:-3px; left:50%; transform:translateX(-50%); display:block; width:12px; height:12px; background:#fff; border:3px solid #a4abb3; border-radius:50%; box-sizing:border-box; }
.half-circle {content:''; display:block; position:absolute; left:0; top:0; width:inherit; height:inherit; border-radius:50%; clip:rect(0 .5em 1em 0); box-sizing:border-box; background:transparent; border:4px solid #a4abb3;}
.pie_shadow {width:100%; height:100%; border-radius:50%; box-sizing:border-box; border:4px solid #d3dce5; background:#fff;}
.pie_shadow.recording_c{background:url(../img/bg_mic.png) no-repeat center center; background-size:50px;}
.playing_c{margin:0 auto; width:178px; height:178px; border:5px solid #d3dce5; border-radius:50%; background:url(../img/bg_speaker.png) no-repeat center center; background-size:63px; box-sizing:border-box;}

/* .progress */
.playing .progress{position:absolute; bottom:100px; padding:18px 23px; width:100%; text-align:center; box-sizing:border-box;}
.playing .progress:after{content:''; display:block; clear:both; float:none;}
.playing .progress .rec_box{position:relative;}
.playing .progress .rec_box:after {content:''; display:block; clear:both; float:none;}
.progress .rec_bar{float:left; position:relative; margin:12px 6px; width:calc(76% - 12px); height:3px; background:#dce1e4; cursor:pointer;}
.progress .rec_bar,
.progress .rec_bar_played{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.progress .rec_bar_played{display:block; position:absolute; left:0; top:0;}
.progress .player_ready .rec_bar_played{width:5px;background: #23a4fa;z-index: 2;height:3px;}
.progress .rec_box .timer_current,
.progress .rec_box .timer_limit{width:12%;font-size:12px; line-height:25px; letter-spacing:0; text-align:center;}
.progress .rec_box .timer_current{float:left;text-align:left;}
.progress .rec_box .timer_limit{float:right;text-align:right;}
.progress .rec_box .rec_bar_pointer{ display: block; width:9px; height:9px; background:#0094dd; border:1px solid #0094dd; border-radius:50%; z-index: 1; position: absolute; top: 50%; transform:translateY(-50%); right: -4.5px; box-sizing:border-box;}
/*ie9 이하*/.lt-ie9 .progress .rec_box .rec_bar_pointer{transform:none; margin-top:-4.5px;}



/* .btn_box */
.rec_popup_content .btn_box{position:absolute; bottom:0; width:100%; height:100px; line-height:100px; background:#1aa1f7;}
.rec_popup_content .btn_box button{width:62px; height:62px; cursor:pointer; outline:none; background-size:contain; background-repeat:no-repeat; background-position:center center;}
.rec_popup_content .btn_box .start,
.rec_popup_content .btn_box .pause,
.rec_popup_content .btn_box .play{position:absolute; top:50%; left:50%; margin-top:-30px; margin-left:-30px; }
.rec_popup_content .btn_box .pause{display:none; background-image:url(../img/btn_pause.png);}
.rec_popup_content .btn_box .again{display:none; position:absolute; top:50%; left:55px; margin-top:-30px; background-image:url(../img/btn_again.png); background-size:32px;}
.rec_popup_content .btn_box .stop{display:none; position:absolute; top:50%; right:55px; margin-top:-30px; background-image:url(../img/btn_stop.png); background-size:28px;}
.rec_popup_content .btn_box .play{background-image:url(../img/btn_play.png);}
.rec_popup_content .btn_box .save{display:none; position:absolute; top:50%; right:55px; margin-top:-30px; background-image:url(../img/btn_save.png); background-size:31px;}
.rec_popup_content .btn_box .save:disabled{background-image:url(../img/btn_save_off.png); cursor:default;}

/* .btn_box .start 버튼 파동 효과 */
.rec_popup_content .btn_box .start{width:62px; height:62px; background:#fff; border-radius:50%; border:1px solid #4698cf;}
.start .bounce_circle{display:block; position:relative; margin:0 auto; width:20px; height:20px; border-radius:50%; border:none; }
.start .start_bounce1, .start .start_bounce2 {display:block; position:absolute; top:0; left:0; width:100%; height:100%; border-radius:50%; background-color:#e02b22; opacity:0.6; -webkit-animation: rec-bounce 2.0s infinite ease-in-out; animation: rec-bounce 2.0s infinite ease-in-out;}
.start .start_bounce2 {-webkit-animation-delay: -1.0s; animation-delay: -1.0s;}
@-webkit-keyframes rec-bounce {
  0%, 100% {-webkit-transform: scale(0.0)}
  50% {-webkit-transform: scale(1.0)}
}
@keyframes rec-bounce {
  0%, 100% {transform: scale(0.5); -webkit-transform: scale(0.5);}
  50% {transform: scale(1.0); -webkit-transform: scale(1.0);}
}

/* #recorder_layer */
.rec_layer_wrap {display:none;position:fixed;left:0;right:0;top:0;bottom:0;z-index:10;background:rgba(0,0,0,.5)}
.rec_layer_inner{display:table; width:100%; height:100%;}
.rec_layer_container{display:table-cell; vertical-align:middle;}
.rec_layer_content{margin:0 auto; width:330px; border:2px solid #105C96; border-radius:7px; background:#fff; box-shadow:0 0 20px 0 rgba(0,0,0,.5)}
.rec_layer_title {height:40px; line-height:40px; border-top-left-radius:5px; border-top-right-radius:5px; background: linear-gradient(to bottom, #42A2EC 0%, #238AD7 100%);}
.rec_layer_title:after{display:block; content:''; clear:both; float:none;}
.rec_layer_h2{float:left; padding-left:20px; color:#fff; font-size:16px; font-weight:bold;}
.btn_layer_close {float:right; margin:12px 15px 0 0; width:13px; height:14px; background:url(../img/btn_layer_close.png) no-repeat 0 0; background-size:contain; cursor:pointer;}
.rec_layer_section {padding:15px 20px; color:#252525; font-size:13px; text-align:center;}
.rec_layer_btn{text-align:center;}
.rec_layer_btn button{display:inline-block; margin-bottom:20px; padding:0 20px; height:27px; font-size:13px; font-weight:bold; cursor:pointer;}
.rec_layer_btn .submit{color:#fff; border:1px solid #357DC5; border-radius:2px; background:linear-gradient(to bottom, #52A5F2 0%, #428DD6 100%); box-shadow: inset 0px 1px 0px rgba(255,255,255,.2);}
.rec_layer_btn .close{margin-left:3px; color:#444; border:1px solid #ababab; border-radius:2px; box-shadow: inset 0px 1px 0px rgba(255,255,255,.2); background:linear-gradient(to bottom, #FEFEFE 0%, #E9EAEA 100%);}

/* [D]마이크 연결 안되었을시 녹음기능 비활성화 스타일 */
.recording.off .info{color:#b0b7bf;}
.recording.off .btn_box button{cursor:default;}
.recording.off .start .bounce_circle{width:16px; height:16px;}
.recording.off .start .bounce_circle{width:16px; height:16px;}
.recording.off .bounce_circle span{background-color:#b0b7bf; -webkit-animation:none; animation:none;}
/*--// [D]마이크 연결 안되었을시 녹음기능 비활성화 스타일 */

/* 녹음중/재생중 변화 */
.recording.active .recording_box .timer{color:#404040;}
.recording.active .pie_bg{background:url(../img/sound_wave.gif) no-repeat center center; background-size:contain;}
.recording.active .half-circle{border-color:#0094dd;}
.recording.active .pie_pointer span:before{border-color:#0094dd;}
.playing.active .recording_box .timer{color:#404040;}
.playing.active .pie_bg{background:url(../img/sound_wave.gif) no-repeat center center; background-size:contain;}
/*--// .rec_popup_content : 녹음/재생 컨텐츠 컨테이너 */


/* #footer : 푸터 카피라이트 */
footer{/*position:fixed;*/ bottom:0; width:100%; height:30px; line-height:30px; color:#787878; font-size:12px; text-align:center; background:#e5e5e5;}
/*--// #footer : 푸터 카피라이트 */


/* media query */
@media only screen and (max-width: 359px) {
    .rec_guide_wrap > p{margin-top:14px;}
    .rec_guide_wrap .btn_guide{margin-top:9px;}
    .rec_guide_wrap .btn_guide{width:25px; height:25px;}
    .rec_guide_wrap .guide_close img{width:19px;}
    .rec_guide_popup ul{padding:20px 12px 0;}
    .rec_guide_popup li{padding-left:84px; min-height:42px; background-size:42px;}
    .rec_guide_popup li.guide_playpause{background-size:73px;}
    .rec_guide_popup li.guide_progress{background-size:73px;}

    .rec_popup_content{height:calc(100% - 104px); min-height:360px;}
    .rec_popup_content .btn_box{height:80px;}
    .recording_box .timer{margin-bottom:0; font-size:38px;}
    .recording .info{bottom:100px; font-size:16px;}
    .playing_c{background-size:60px;}
    .pie_wrap, .playing_c{width:148px; height:148px;}
    .pie_wrap .pie{font-size:148px;}
    .half-circle{font-size:148px;}
    .pie_bg{padding:29px;}
    .pie_shadow.recording_c{background-size:47px;}

    .rec_popup_content .btn_box .again{left:37px;}
    .rec_popup_content .btn_box .stop, .rec_popup_content .btn_box .save{right:37px;}
    .rec_popup_content .btn_box .save{background-size:27px;}
    .rec_popup_content .progress{bottom:80px;}

    .rec_layer_content{width:292px;}
}


@media only screen and (max-width: 319px) {
    #recorderPopup{width:auto; min-width:auto; overflow-x:scroll;}
    .popup_title{width:320px; min-width:auto;}
    .rec_guide_popup{position:absolute; min-width:auto; overflow:scroll;}
    .rec_guide_inner{top:0; left:0; transform:none;}
    .rec_guide_wrap, .rec_popup_content, footer{width:320px;}
}

@media only screen and (max-height: 480px){
    #recorderPopup{overflow-y:auto;}
    .recording .info{bottom:110px;}
}

@media only screen and (max-height: 639px) {
    .rec_guide_popup{overflow-y:auto;}
    .rec_guide_inner{position:absolute; top:0; left:0; bottom:0; right:0; transform:none;}
    .recording_box .timer{margin-bottom:0;}
}
/*--// media query */




/* ================ */
