@charset "utf-8";

.recorder_popup { position:relative; min-width:620px; height:100%; font-size:13px; color:#333; }
.recorder_popup button { color:#333; }

/* 녹음기 */
.recorder_contents_wrap { padding:20px; }
.recorder_contents .recorder_subject_wrap { margin-bottom:14px; }
.recorder_contents .recorder_subject_wrap label:after { content:''; display:block; clear:both; }
.recorder_contents .recorder_subject_label { float:left; display:block; width:37px; height:30px; line-height:30px; font-size:14px; font-weight:700; }
.recorder_contents .recorder_subject { float:left; padding:0 5px; width:calc(100% - 37px); height:30px; border:1px solid #b3b3b3; outline:0; box-sizing:border-box; }
.recorder_contents .noti_text { margin-bottom:4px; font-size:12px; text-align:right; color:#808080; }
.recorder_contents .ui_box { margin-bottom:20px; padding:33px 25px; }
.ui_box .ui_box_inner { width:533px; }

.progress-circle .progress-shadow{ background-image:url('../../recorder/img/icon_pie_recorder.png'); background-size:38px 58px; }
.progress-pointer{ border-radius:50%;}