@charset "utf-8";

/* added by yoonseo(2020.08.25) : LSCH-17 */
.homework-recorder.fox-recorder{ height:auto; background:#deebf5; }
.game_info .text { font-family:"Malgun Gothic"; font-size:24px; color:#00479d; font-weight:bolder; line-height:90px; padding-left:30px; background:url('https://school.littlefox.co.kr/contents/apps/recorder/images/bullet_guide_txt.png') left center no-repeat !important; }
.game_info .voice_txt.info_record{ background:none; }
.game_info .voice_txt.info_record > p{ margin-bottom:6px; }
.game_info .voice_txt.info_record > p:before { margin-right:9px; content:''; display:inline-block; width:16px; height:13px; background:url('../recorder/img/sprite_icons_check.png')no-repeat; background-position:-12px 0; }
.record_icon_small.submit { width:67px; height:24px; border:0; border-radius:0; background:url('../recorder/img/sprite_icons_submit.png')no-repeat; background-position:-66px -1px; }

.game_info .info_label { float:left; padding-left:45px; }
.game_info .info_label .lbl {
	font-size:30px; line-height:1em; font-weight:bolder;
	padding:5px 32px;
	background:#fff; border:1px solid #bbb; border-radius:21px;
	box-shadow:0 1px 1px rgba(255,255,255,.75), 1px 1px 5px rgba(0,0,0,.4) inset, -1px -1px 5px rgba(0,0,0,.4) inset;
}
.game_info .info_label.timer { margin-right:37px; background:url('https://school.littlefox.co.kr/contents/apps/recorder/images/icon_score_time.png') no-repeat left center; }
.game_info .info_label.score { background:url('https://school.littlefox.co.kr/contents/apps/recorder/images/icon_score_check.png') no-repeat left center; }
.game_info .info_label.timer .lbl { color:#00479d; text-align:center; }
.game_info .info_label.score .lbl { color:#5d5d5d; min-width:80px; text-align:center; }
.game_info .info_label.score .lbl > .em { color:#00479d; }

.questions_area .info .timer .limit {color: #ff0000;} /* by nhj(2017.12.14) FOR:limit red color show */

/* added by leeyoonseo (2020.08.28) : LSCH-17 */
.info_record{ padding:20px 0; font-size:13px; box-sizing:border-box; }
.info_record .highlight { font-weight:700; color:#00479d; }
.record_box .viewport .txt_e > span.icon_stop{ display:inline-flex; width:50px; height:50px; justify-content:center; align-items:center; border:1px solid #b3b3b3; border-radius:50%; box-sizing:border-box; }
.record_box .viewport .txt_e > span.icon_stop:before{ content:''; display:inline-block; width:17px; height:17px; background:#1aa1f7; border-radius:3px; box-sizing:border-box; }
.record_box .viewport .txt_e > span.icon_submit{ width:140px; height:43px; background:url('../recorder/img/sprite_icons_submit.png')no-repeat; background-position-x:-136px; }
.record_box .pt_final .txt_e { font-size:40px; font-weight:bolder; color:#333; }
.record_box .pt_final .txt_k { font-size:24px; margin-top:45px; color:#666; }

.record_icon_small{ position:relative; display:inline-flex; margin-right:2px; width:24px; height:24px; vertical-align:middle; align-items:center; justify-content:center; border:1px solid #b3b3b3; border-radius:50%; background:#fff; box-sizing:border-box; }
.record_icon_small:before { display:inline-block; content:''; }
.record_icon_small.record:before{ width:8px; height:8px; background:#df2219; border-radius:50%; }
.record_icon_small.pause:before{ margin-right:2px; width:3px; height:9px; background:#1aa1f7; border-radius:5px; }
.record_icon_small.pause:after{ content:''; display:inline-block; width:3px; height:9px; background:#1aa1f7; border-radius:5px; }
.record_icon_small.play:before { margin-left:2px; width:8px; height:8px; clip-path:polygon(0 0, 0% 100%, 100% 50%); background-color:#1aa1f7; }
.record_icon_small.stop:before{ width:8px; height:8px; background:#1aa1f7; border-radius:1px; }

/* popup */
.pop.help{ display:none; z-index:999; }
.pop.help.on{ display:block; }
.pop.help .pop_content{ min-width:625px; min-height:465px; }
.pop.help .btn_pop_close{ width:46px; height:46px; }
.pop.help .pop_body .text > li:before{ display:none; }

.coaching_guide ul { padding:20px; background:#fff; box-sizing:border-box; border-radius: 0 0 15px 15px; }
.coaching_guide li { display:table; width:100%; list-style-type:none; }
.coaching_guide li + li { padding-top:22px; }
.coaching_guide li > div { position:relative; display:table-cell; width:50%; vertical-align:middle; }
.coaching_guide li > div:first-child .items_icon{ width:60px; height:46px; }
.coaching_guide li > div:first-child .items_desc{ padding-left:60px; }
.coaching_guide .items_icon { position:absolute; left:0; top:50%; transform:translateY(-50%); padding-right:6px; width:90px; text-align:center; box-sizing:border-box; }
.coaching_guide .items_icon:before { content:''; display:inline-block; width:77px; height:34px; box-sizing:border-box; background-image:url('../recorder/img/sprite_icons_coaching.png'); background-repeat:no-repeat; }
.coaching_guide .items_shape_circle .items_icon:before { width:47px; height:46px; border-radius:50%; box-sizing:border-box; }
.coaching_guide .items_next_page .items_icon:before { width:80px; height:24px; background-position:-285px -46px; }
.coaching_guide .items_pause .items_icon:before { background-position:-81px -1px; border:1px solid #bfbfbf; }
.coaching_guide .items_record .items_icon:before { background-position:-129px 0; border:1px solid #bfbfbf;}
.coaching_guide .items_player_status .items_icon:before { background-position:-177px 0; border:1px solid #bfbfbf; border-radius:5px; }
.coaching_guide .items_record_status .items_icon:before { background-position:-257px 0; }
.coaching_guide .items_mic_volume .items_icon:before { background-position:-306px 0; border:1px solid #bfbfbf; border-radius:5px; }
.coaching_guide .items_record_stop .items_icon:before { background-position:-2px -37px; border:1px solid #bfbfbf; }
.coaching_guide .items_submit .items_icon:before { width:80px; height:24px; background-position:-285px -69px; }
.coaching_guide .items_play .items_icon:before { background-position:-211px -42px; border:1px solid #bfbfbf; }
.coaching_guide .items_cancel .items_icon:before { width:80px; height:24px; background-position:-285px -92px; }

.coaching_guide .items_desc { padding-left:90px; }
.coaching_guide .items_desc strong { margin-bottom:4px; display:block; font-size:13px; font-weight:700; color:#1fa0f0; }
.coaching_guide .items_desc .text { margin:0; font-size:12px; color:#333; }

@media only screen and (max-height:419px), screen and (max-width:619px)  {
    .pop.help{ position:absolute !important; }
}

