@charset "utf-8";

.icon_file_download{ display:inline-block; margin-left:2px; width:25px; height:23px; text-indent:0; text-align:center; vertical-align:middle; border:1px solid #b3b3b3; box-sizing:border-box; }
.icon_file_download:before{ display:inline-block; content:''; margin:4px; width:15px; height:13px; background:url('../recorder/img/sprite_icons_download.png')no-repeat; }
.icon_file_download:hover{ background:#00479d; }
.tabl_recoding .icon_file_download:hover:before{ background-position-x:-16px;}

/* 학생화면 - Recordings탭 - Recordings Check */
.student_recordings.ui_box{ margin:5px; padding:5px 8px; border-radius:5px; }
.student_recordings.ui_box .ui_box_inner{ width:162px; }
.student_recordings.ui_box .control_btns{ width:68px; }
.student_recordings.ui_box .control_btns .btns_bg{ width:32px; height:32px; }
.student_recordings.ui_box .control_btns .btns_bg + .btns_bg{ margin-left:4px; }
.student_recordings.ui_box .btn_play:before{ margin-left:3px; width:9px; height:11px; }
.student_recordings.ui_box.active .btn_play:before,
.student_recordings.ui_box.active .btn_play:after{  width:4px; height:11px; }
.student_recordings.ui_box.active .btn_play:before{ margin-right:4px; }
.student_recordings.ui_box .btn_stop:before{ width:10px; height:011px; border-radius:1px; }

.student_recordings.ui_box .ui_status_bar{ margin-left:10px; width:83px; }
.student_recordings.ui_box .status_bar{ height:4px;}
.student_recordings.ui_box .status_bar .playing{ height:4px; }
.student_recordings.ui_box .status_bar .status_pointer{ right:-4.5px; width:9px; height:9px; }

/* 나의 학습방 - 숙제 녹음기 */
.view_recorder_popup{ position:fixed; min-width:480px; min-height:280px; width:100%; height:100%; font-size:14px; border:2px solid #2559a1; border-radius:5px; box-sizing:border-box; }
.view_recorder_inner{ padding:20px 10px; }
.view_recorder_popup .subject{ margin:0; padding:14px 0; font-size:15px; text-align:center; color:#fff; border-bottom:1px solid #a6a6a6; background: rgb(11,114,192); background: linear-gradient(0deg, rgba(11,114,192,1) 0%, rgba(47,150,230,1) 100%); box-sizing:border-box; }
.view_recorder_popup .info{ position:relative; }
.view_recorder_popup .info .activity_name{ margin:0; width:340px; }
.view_recorder_popup .info .activity_name span{ color:#ff0000; }
.view_recorder_popup .info .date{ position:absolute; top:0; right:0; }
.view_recorder_popup .ui_box{ margin:10px 0 18px; }
.view_recorder_popup .memo_wrap{ padding:10px 7px 14px; margin-bottom:20px; line-height:20px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; box-sizing:border-box; }
.view_recorder_popup .memo_wrap p { margin:0; }
.view_recorder_popup .teacher_name{ margin-bottom:4px; }
.view_recorder_popup .btn_wrap{ text-align:center; }
.view_recorder_popup .close_btn{ padding:9px; min-width:90px; min-height:30px; font-size:13px; border:1px solid #b3b3b3; border-radius:5px; background:#fff; box-sizing:border-box; }
.view_recorder_popup .close_btn:hover{ color:#fff; background:#00479d; }

@media only screen and (max-height:270px), screen and (max-width:479px)  {
    .view_recorder_popup{ position:static; }
}

/* 나의 학습기록 - 선생님 메시지 */
.homework_memo_popup{ position:fixed; min-width:480px; min-height:375px; width:100%; height:100%; font-size:14px; border:2px solid #2559a1; border-radius:5px; box-sizing:border-box; }
.homework_memo_popup .homework_memo_inner{ padding:20px 10px; }
.homework_memo_popup .subject{ margin:0; padding:14px 0; font-size:15px; text-align:center; color:#fff; border-bottom:1px solid #a6a6a6; background: rgb(11,114,192); background: linear-gradient(0deg, rgba(11,114,192,1) 0%, rgba(47,150,230,1) 100%); box-sizing:border-box; }
.homework_memo_popup .info{ position:relative; margin-bottom:10px; }
.homework_memo_popup .info .activity_name{ margin:0; width:340px; }
.homework_memo_popup .info .activity_name span{ color:#ff0000; }
.homework_memo_popup .info .date{ position:absolute; top:0; right:0; }
.homework_memo_popup .ui_box{ margin-bottom:10px; text-align:center; }
.homework_memo_popup .ui_box .control_btns .btns_bg{ width:62px; height:62px; }
.homework_memo_popup .ui_box .control_btns .btns_bg + .btns_bg{ margin-left:15px; }
.homework_memo_popup .ui_box .ui_box_inner{ display:inline-block; box-sizing:border-box; }
.homework_memo_popup .player .status_bar{ width:240px; }
.homework_memo_popup .player .current_time{ float:none; font-size:13px; }
.homework_memo_popup .player .status_bar{ float:none; }
.homework_memo_popup .memo_wrap{ padding:10px 7px 14px; margin-bottom:20px; line-height:20px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; box-sizing:border-box; }
.homework_memo_popup .memo_wrap p { margin:0; }
.homework_memo_popup .teacher_name{ margin-bottom:4px; }
.homework_memo_popup .btn_wrap{ text-align:center; }
.homework_memo_popup .close_btn{ padding:9px; min-width:90px; min-height:30px; font-size:13px; border:1px solid #b3b3b3; border-radius:5px; background:#fff; box-sizing:border-box; }
.homework_memo_popup .close_btn:hover{ color:#fff; background:#00479d; }

@media only screen and (max-height:370px), screen and (max-width:479px)  {
 .homework_memo_popup{ position:static; }
}

.icon_memo{ display:inline-block; width:19px; height:12px; background:url('../recorder/img/sprite_icons_memo.png')no-repeat; }
.icon_memo.on{ background-position-x:-21px; }

/* 도움말 */
.coaching_guide_wrap { display:none; position:fixed; top:0; bottom:0; left:0; right:0; min-width:625px; min-height:465px; width:100%; height:100%; background: rgba(0,0,0,0.8); box-sizing: border-box; z-index: 999; }
.coaching_guide_wrap.on { display:inline-flex; align-items:center; }
.coaching_guide_wrap .close_btn { position:absolute; top:-10px; right:-10px; width:46px; height:46px; border-radius:50%; box-shadow:1px 1px 5px rgba(0,0,0,0.5); background:#00457d; border:0; cursor:pointer; z-index:3; }
.coaching_guide_wrap .close_btn:before{ display:block; content:''; margin:0 auto; width:21px; height:21px; background-image:url('../recorder/img/bg_coaching_icons.png'); background-position:-260px -48px; }
.coaching_guide_inner{ position:relative; display:block; margin:0 auto; width:625px; border:1px solid #00457d; border-radius:15px; box-sizing:border-box; }
.coaching_guide_inner h2{ height:48px; line-height:48px; color:#fff; font-size:19px; font-weight:700; text-align:center; background:#0062b1; border-radius:15px 15px 0 0; }
.coaching_guide { width:100%; }
.coaching_guide ul { padding:20px; background:#fff; box-sizing:border-box; border-radius: 0 0 15px 15px; }
.coaching_guide li { display:table; width:100%; }
.coaching_guide li + li { padding-top:22px; }
.coaching_guide li > div { position:relative; display:table-cell; width:50%; vertical-align:middle; }
.coaching_guide li > div:first-child .items_icon{ width:60px; height:46px; }
.coaching_guide li > div:first-child .items_desc{ padding-left:60px; }
.coaching_guide .items_icon { position:absolute; left:0; top:50%; transform:translateY(-50%); padding-right:6px; width:90px; text-align:center; box-sizing:border-box; }
.coaching_guide .items_icon:before { content:''; display:inline-block; width:77px; height:34px; box-sizing:border-box; background-image:url('../recorder/img/bg_coaching_icons.png'); background-repeat:no-repeat; }
.coaching_guide .items_shape_circle .items_icon:before { width:47px; height:46px; border-radius:50%; box-sizing:border-box; }
.coaching_guide .items_next_page .items_icon:before { width:80px; height:24px; background-position:-285px -46px; }
.coaching_guide .items_pause .items_icon:before { background-position:-81px -1px; border:1px solid #bfbfbf; }
.coaching_guide .items_record .items_icon:before { background-position:-129px 0; border:1px solid #bfbfbf;}
.coaching_guide .items_player_status .items_icon:before { background-position:-177px 0; border:1px solid #bfbfbf; border-radius:5px; }
.coaching_guide .items_record_status .items_icon:before { background-position:-257px 0; }
.coaching_guide .items_mic_volume .items_icon:before { background-position:-306px 0; border:1px solid #bfbfbf; border-radius:5px; }
.coaching_guide .items_record_stop .items_icon:before { background-position:-2px -37px; border:1px solid #bfbfbf; }
.coaching_guide .items_submit .items_icon:before { width:80px; height:24px; background-position:-285px -69px; }
.coaching_guide .items_play .items_icon:before { background-position:-211px -42px; border:1px solid #bfbfbf; }
.coaching_guide .items_cancel .items_icon:before { width:80px; height:24px; background-position:-285px -92px; }

.coaching_guide .items_desc { padding-left:90px; }
.coaching_guide .items_desc strong { margin-bottom:4px; display:block; font-size:13px; font-weight:700; color:#1fa0f0; }
.coaching_guide .items_desc .text { margin:0; font-size:12px; color:#333; }

@media only screen and (max-height:419px), screen and (max-width:619px)  {
    .coaching_guide_wrap{ position:absolute; }
}

/* 학생 녹음기록 확인 - Recording */
.history_recorder .player.ui_box{ margin:6px 5px; padding:5px 6px 8px; border-radius:5px; }
.history_recorder .player.ui_box .ui_box_inner{ width:100%; }
.history_recorder .player.ui_box .control_btns{ width:56px; }
.history_recorder .sound_player.ui_box .control_btns .btns_bg{ width:27px; height:27px; }
.history_recorder .player.ui_box .control_btns .btns_bg + .btns_bg{ margin-left:2px; }
.history_recorder .player.ui_box .btn_play:before{ margin-left:3px; width:8px; height:10px; }
.history_recorder .player.ui_box.active .btn_play:before{ margin-left:0; margin-right:3px; width:4px; height:10px; }
.history_recorder .player.ui_box.active .btn_play:after{ width:4px; height:10px; }
.history_recorder .player.ui_box .btn_stop:before{ width:8px; height:8px; border-radius:2px; }
.history_recorder .player.ui_box .current_time{ color:#666; text-indent:-5px; }
.history_recorder .player.ui_box .ui_status_bar{ margin-left:10px; width:62px; }
.history_recorder .player.ui_box .status_bar{ width:64px; }
.history_recorder .player.ui_box .status_bar .status_pointer{ right:-4px; width:8px; height:8px; }
.history_recorder .icon_file_download{ display:inline-block; margin-left:2px; width:25px; height:23px; text-indent:0; text-align:center; vertical-align:middle; border:1px solid #b3b3b3; box-sizing:border-box; }
.history_recorder .icon_file_download:before{ display:inline-block; content:''; margin:4px; width:15px; height:13px; background:url('../recorder/img/sprite_icons_download.png')no-repeat; }
.history_recorder .icon_file_download:hover{ background:#00479d; }
.history_recorder .icon_file_download:hover:before{ background-position-x:-16px;}
