@charset "utf-8";

.recorder_popup { position:relative; min-width:620px; height:100%; font-size:13px; color:#333; }
.recorder_popup button { color:#333; }

/* 알림 */
.record_icon_small{ position:relative; display:inline-flex; margin-right:2px; width:24px; height:24px; vertical-align:middle; align-items:center; justify-content:center; border:1px solid #b3b3b3; border-radius:50%; background:#fff; box-sizing:border-box; }
.record_icon_small:before { display:inline-block; content:''; }
.record_icon_small.record:before{ width:8px; height:8px; background:#df2219; border-radius:50%; }
.record_icon_small.pause:before{ margin-right:2px; width:3px; height:9px; background:#1aa1f7; border-radius:5px; }
.record_icon_small.pause:after{ content:''; display:inline-block; width:3px; height:9px; background:#1aa1f7; border-radius:5px; }
.record_icon_small.play:before { margin-left:2px; width:8px; height:8px; clip-path:polygon(0 0, 0% 100%, 100% 50%); background-color:#1aa1f7; }
.record_icon_small.stop:before{ width:8px; height:8px; background:#1aa1f7; border-radius:1px; }

/* 녹음기 */
.recorder_contents_wrap { padding:20px; }
.recorder_contents .recorder_subject_wrap { margin-bottom:14px; }
.recorder_contents .recorder_subject_wrap label:after { content:''; display:block; clear:both; }
.recorder_contents .recorder_subject_label { float:left; display:block; width:37px; height:30px; line-height:30px; font-size:14px; font-weight:700; }
.recorder_contents .recorder_subject { float:left; padding:0 5px; width:calc(100% - 37px); height:30px; border:1px solid #b3b3b3; outline:0; box-sizing:border-box; }
.recorder_contents .noti_text { margin-bottom:4px; font-size:12px; text-align:right; color:#808080; }
.recorder_contents .ui_box { margin-bottom:20px; padding:33px 25px; }
.ui_box .ui_box_inner { width:533px; }

.btns_wrap { position:relative; text-align:center; }
.btns_wrap .inner { display:inline-block; }
.btns_wrap .inner button + button { margin-left:4px; }
.btns_wrap .submit_btn:disabled { display:none; }
.btns_wrap .submit_btn:before { content:''; display:inline-block; margin-right:5px; width:11px; height:9px; background:url('../recorder/img/sprite_icons_check.png')no-repeat; background-position:0 0; }

.btns_wrap .submit_btn,
.btns_wrap .cancel_btn { width:80px; height:30px; border:1px solid #b3b3b3; border-radius:3px; background:#fff; }
.btns_wrap .submit_btn:hover,
.btns_wrap .cancel_btn:hover { color:#fff; background-color:#00479d; }
.btns_wrap .guide_btn { position:absolute; right:0; bottom:0; margin-left:0; width:34px; height:34px; border:0; border-radius:50%; background:url('../recorder/img/sprite_icons_help.png')no-repeat; background-position:0 0; }
.btns_wrap .guide_btn:hover { background-position-x:-34px; }
.btns_wrap .guide_btn:active { background-position-x:-68px; }

.recordings_help_wrap { padding:8px 20px; background-color:#f2f2f2; }
.recordings_help_wrap .recordings_help { line-height:2.308em; }
.recordings_help_wrap .record_icon_small.submit { width:64px; height:24px; border-radius:0; border:0; }
.recordings_help_wrap .record_icon_small.submit:before{ width:100%; height:100%; background:url('../recorder/img/sprite_icons_submit.png')no-repeat; background-position:-1px -1px; }
.recordings_help_wrap .text_warning { color:#f74848; }

/* 도움말 */
.coaching_guide_wrap { display:none; position:fixed; top:0; bottom:0; left:0; right:0; min-width:620px; min-height:410px; width:100%; height:100%; background: rgba(0,0,0,0.7); box-sizing: border-box; z-index: 999; }
.coaching_guide_wrap.on { display:inline-flex; justify-items:center; align-items:center; }
.coaching_guide_wrap .close_btn { position:absolute; top:12px; right:12px; width:21px; height:21px; border:0; background-color:unset; background-image:url('../recorder/img/sprite_icons_coaching.png'); background-position:-260px -48px; cursor:pointer; z-index:3; }

.coaching_guide { width:100%; }
.coaching_guide ul { display:block; margin:0 auto; padding:20px; max-width:620px; width:100%; box-sizing:border-box; }
.coaching_guide li { display:table; width:100%; }
.coaching_guide li + li { padding-top:22px; }
.coaching_guide li > div { position:relative; display:table-cell; width:50%; vertical-align:middle; }
.coaching_guide .items_icon { position:absolute; left:0; top:50%; transform:translateY(-50%); padding-right:6px; width:90px; text-align:center; box-sizing:border-box; }
.coaching_guide .items_icon:before { content:''; display:inline-block; width:77px; height:34px; background-image:url('../recorder/img/sprite_icons_coaching.png'); background-repeat:no-repeat; }
.coaching_guide .items_shape_circle .items_icon:before { width:48px; height:47px; border-radius:50%; }

.coaching_guide .items_subject .items_icon:before { background-position:0 0; }
.coaching_guide .items_pause .items_icon:before { background-position:-79px 0; }
.coaching_guide .items_record .items_icon:before { background-position:-128px 0; }
.coaching_guide .items_player_status .items_icon:before { background-position:-177px 0; }
.coaching_guide .items_record_status .items_icon:before { background-position:-257px 0; }
.coaching_guide .items_mic_volume .items_icon:before { background-position:-306px 0; }
.coaching_guide .items_record_stop .items_icon:before { background-position:0 -36px; }
.coaching_guide .items_submit .items_icon:before { width:78px; height:30px; background-position:-52px -46px; }
.coaching_guide .items_play .items_icon:before { background-position:-210px -42px; }
.coaching_guide .items_cancel .items_icon:before { width:78px; height:30px; background-position:-130px -46px; }

.coaching_guide .items_desc { padding-left:90px; }
.coaching_guide .items_desc strong { margin-bottom:4px; display:block; font-size:13px; font-weight:700; color:#86c7f3; }
.coaching_guide .items_desc .text { margin:0; font-size:12px; color:#fff; }

/* Media Query */
@media only screen and (max-height:419px), screen and (max-width:619px)  {
    .coaching_guide_wrap{ position:absolute !important; }
}
