@charset "utf-8";

body{ 
    margin:0;
    font-family: "Malgun Gothic", "¸¼Àº °íµñ", "Dotum", "µ¸¿ò", Arial, sans-serif; 
}

button { 
    outline:0; 
    color:#333; 
    cursor:pointer; 
}

button:disabled { 
    cursor:default; 
}

.hidden { 
    padding:0; 
    margin:-1px; 
    position:absolute; 
    width:1px; 
    height:1px; 
    border:0; 
    overflow:hidden; 
    clip:rect(0 0 0 0); 
}
